.container{
    padding: 30px;
}
.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    gap: 60px;
}

.item img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}