
.nav{
    height: 140px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px;
}
.nav img {
    width: 40px;
}

.menu {
    display: flex;
    gap: 40px; 
    margin-left: 50%;
    color: black;
}

.menu a {
    text-decoration: none;
}


